/* GREEN Theme */ 
$image-root: "themes/cyan/";
$topcontainer-bgimg: $image-root+"header_cyan.png";
$logo: $image-root+"MI_logo_cyan.png";   
$top-right-menuseparator: "themes/toprightmenu_separator.png"; 
$mainmenu-bgimg: "themes/menu_bgimg.png";  
$activemenu-bgimg: $image-root+"menu_active_bgimg.png"; 
$search-button: $image-root+"search-btn-top.png";
$icon-raquo: $image-root+"icon-raquo.png";
$default_linkcolor: #046a68;

/* LINKS */
$hover: #046a68;
$focus: #046a68;

  