/* GREEN Theme */ 
$image-root: "themes/green/";
$topcontainer-bgimg: $image-root+"header_green.png";  
$logo: $image-root+"MI_logo_green.png";   
$top-right-menuseparator: "themes/toprightmenu_separator.png"; 
$mainmenu-bgimg: "themes/menu_bgimg.png";  
$activemenu-bgimg: $image-root+"menu_active_bgimg.png"; 
$search-button: $image-root+"search-btn-top.png"; 
$icon-raquo: $image-root+"icon-raquo.png";
$default_linkcolor: #808236;

/* LINKS */
$hover: #808236;
$focus: #808236;