$mainfont: georgia,"times New Roman" !default;
$subfont: arial,helvetica !default;

$purple: #252f47 !default; 
$darkblue: #1b1c20 !default;
$lightblue: #2f7aaf !default;
$black: #0a0a0a !default;
$darkgray: #353535 !default;
$white: #fff !default;
$article-color-1: #141414 !default;
$article-color-2: #353535 !default;
$menu-linkcolor: #0a0a0a !default;
$light-gray: #dfdede !default;
$medium-gray: #818084 !default;
$border-gray: #acb2b6 !default;
$menu-bgimg: "themes/menu_background.jpg" !default; 
$col4-header: "themes/col4_annonse_header_bg.png" !default; 
$col4-bg: "themes/col4_bg.png" !default;
$box-shadow: "themes/box_h2_shadow.png" !default;
$box-h2-bg: "themes/box_h2_bg.png" !default;
$icon-raquo: "themes/icon-raquo.gif" !default;


/* LINKS */
$normal: $black !default;
$hover: #2f7aaf !default;
$active: #2f7aaf !default;
$visited: #0a0a0a !default;
$focus: #0a0a0a !default;
$default_linkcolor: #ff0000 !default;