/* GREEN Theme */ 
$image-root: "themes/oker/";
$topcontainer-bgimg: $image-root+"header_oker.png";
$logo: $image-root+"MI_logo_oker.png";   
$top-right-menuseparator: "themes/toprightmenu_separator.png"; 
$mainmenu-bgimg: "themes/menu_bgimg.png";  
$activemenu-bgimg: $image-root+"menu_active_bgimg.png"; 
$search-button: $image-root+"search-btn-top.png";
$icon-raquo: $image-root+"icon-raquo.png";
$default_linkcolor: #a46f12;
/* LINKS */
$hover: #a46f12;
$focus: #a46f12;

  