/* GREEN Theme */ 
$image-root: "themes/pink/";
$topcontainer-bgimg: $image-root+"header_pink.png";
$logo: $image-root+"MI_logo_lilla.png";   
$top-right-menuseparator: "themes/toprightmenu_separator.png"; 
$mainmenu-bgimg: "themes/menu_bgimg.png";  
$activemenu-bgimg: $image-root+"menu_active_bgimg.png"; 
$search-button: $image-root+"search-btn-top.png";
$icon-raquo: $image-root+"icon-raquo.png";
$default_linkcolor: #951278;

/* LINKS */
$hover: #951278;
$focus: #951278;

 