.main-article {
  margin-bottom: 15px;
  .intro-image {
    margin-bottom: 7px; }
  p {
    margin-bottom: 10px; }
  h1 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 10px;
    font-weight: bold;
    a {
      font-weight: bold;
      color: #001722; } } }

.article-intro {
  h2 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px; }
  p {
    margin-bottom: 3px;
    a {
      color: black;
      text-decoration: none;
      &:hover {
        text-decoration: underline; } } }
  .intro-image {
    margin-bottom: 6px;
    display: block; } }



