.box {
  font-size: 11px;
  padding: 0;
  border: 1px solid #b1b1b1;
  margin-bottom: 10px; 
  font-family: ($mainfont);
  display: block;
  h2 {
    font-size: 17px;
    color: $black;
    text-transform: none;
    font-weight: normal;
    padding: 4px 7px 4px 7px;
    background: image-url($box-h2-bg) repeat-x top;
    display: block;
    margin: 3px;
  	 }
  .shaddow
  {
    background: image-url($box-shadow) no-repeat bottom;
    height: 6px;
    display: block;
  }
    h3 {
      color: ($black);
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 5px;
      text-decoration: none; }
    h3 a {
      color: ($black);
      font-size: 16px; 
      font-weight: normal;
      margin-bottom: 5px;
      text-decoration: none;
      @include hover-link; 
      @include link-colors($normal, $hover, $active, $visited, $focus); 
       }
	.box-content {
	  	overflow: hidden;
		  .line {
		    margin: 0;
		    border-top: 1px solid $light-gray;
		    padding-bottom: 4px; }
		  .article-intro p {
		    font-size: 12px;
		    line-height: 13px;
		    line-height: 15px;
		    margin-bottom: 10px;
		 } 
     .links ul {
        list-style-position: inside;
        list-style-type: none;        
        li {
          margin-bottom: 10px;
          a {
            font-size: 11px;
          }
        }
     }
	}
}


 