#content .footer {
  width: 1134px;
  color: $black;
  font-size: 10px;
  line-height: 12px;
  font-family: $subfont;
  padding-bottom: 7px;
  background: url(../images/themes/footer_bg.png) no-repeat;  

	.footer-color {
		display: block;
		height: 100%;
		padding-top: 20px;
	}  

	h3 {
		font-size: 11px;
		font-family: $subfont;
		text-transform: uppercase;
		color: $black;
		font-weight: bold;
		margin-bottom: 5px; 
	}
	a {
		color: $black; 
	}
	ul {
		margin-bottom: 20px;
		margin-right: 40px;
		float: left;
		width: 157px;
		padding: 0px;
	
		&.last {
			margin-right: 0px;
		}

	}
	li {
		margin-bottom: 5px;
		padding-bottom: 7px;
		@include no-bullets;
		border-bottom: 1px dotted $border-gray;
		float: left;
		display: block;
		clear: both;
		width: 100%;
	}
	p {
		margin-bottom: 5px;
	}
	.col-1 {
		float: left;
		padding-top: 16px;
		width: 775px; 

		h3 {
			font-size: 13px;
			margin-bottom: 15px;

			a {
				font-weight: bold;
				@include hover-link;
			}
			
		}
		a {
			font-family: $subfont;
			font-size: 12px;
			text-decoration: none;
			@include link-colors($normal, $hover, $active, $visited, $focus);			
		}
	}
	.col-2 {
		float: right;
		padding: 2px 0 0 24px;
		margin-top: 11px;
		width: 306px;
		border-left: 1px solid $border-gray;

		.logo {
			background: url(../images/skarland-logo.gif) no-repeat; 
			height: 32px;
			width: 145px;
			float: right;
		}
		.line {
		    border-top: 1px solid $border-gray;
		    font-size: 1px;
		    height: 1px;
		    line-height: 1px;
		    margin-bottom: 17px;
		    margin-top: 17px;
		}
	}
	.padder {
		padding: 6px 12px; 
	} 
}